.border{
    border: 1px;
}

/******TOP HALF******/
.staff-container{
    position: relative;
    left: 16%;
    height: 550px;
    width: 100%;
    border: 1px solid black;
    margin-left: 100px;
    padding: 10px;
}

/*******STAFF LINES*********/
hr{
   margin-left: 50px;
   margin-bottom: 40px; 
}
hr.high-ledger-line3 {
    margin-top: 60px;
    width: 4%;
    margin-left: 19%;
} 
hr.high-ledger-line2 {
    width: 4%;
    margin-left: 19%;
} 
hr.high-ledger-line1 {
    width: 4%;
    margin-left: 19%;
} 
hr.staff-line5 {


} 
hr.staff-line4 {


} 
hr.staff-line3 {


} 
hr.staff-line2 {


} 
hr.staff-line1 {

} 
hr.low-ledger-line1 {
    width: 4%;
    margin-left: 19%;
} 
hr.low-ledger-line2 {
    width: 4%;
    margin-left: 19%;
} 
hr.low-ledger-line3 {
    margin-bottom: 60px;
    width: 4%;
    margin-left: 19%;
} 

/*******THE CLEF*******/
.clef-container{
    position: absolute;
    margin-left: 12px;
    bottom: 20%;

}

/*****THE NOTES******/

.notes{
      display: none;  
      /* visibility: hidden;   */
}

/*E3*/
#note-box-1{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 36px;
    left: 20%;
}
/*F3*/
#note-box-2{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 0px; */
    /* border: 1px solid black; */
    bottom: 49px;
    left: 20%;
}
/*F#3*/
#note-box-3{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 0px; */
    /* border: 1px solid black; */
    bottom: 49px;
    left: 20%;
}
/*G3*/
#note-box-4{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 64px;
    left: 20%;
}
/*G#3*/
#note-box-5{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 64px;
    left: 20%;
}
/*A3*/
#note-box-6{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 92px;
    left: 20%;
}
/*A#3*/
#note-box-7{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 92px;
    left: 20%;
}
/*B3*/
#note-box-8{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 121px;
    left: 20%;
}
/*C4*/
#note-box-9{
    position: absolute;
    width: 3%;
    /* height: 11px; */
    /* border: 1px solid black; */
    bottom: 133px;
    left: 20%;
}
/*C#4*/
#note-box-10{
    position: absolute;
    width: 3%;
    /* height: 11px; */
    /* border: 1px solid black; */
    bottom: 133px;
    left: 20%;
}
/*D4*/
#note-box-11{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 38px; */
    /* border: 1px solid black; */
    bottom: 163px;
    left: 20%;
}
/*D#4*/
#note-box-12{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 38px; */
    /* border: 1px solid black; */
    bottom: 163px;
    left: 20%;
}
/*E4*/
#note-box-13{
    position: absolute;
    width: 3%;
    height: 53px;
    /* border: 1px solid black; */
    bottom: 176px;
    left: 20%;
}
/*F4*/
#note-box-14{
    position: absolute;
    width: 3%;
    height: 53px;
    /* border: 1px solid black; */
    bottom: 192px;
    left: 20%;
}
/*F#4*/
#note-box-15{
    position: absolute;
    width: 3%;
    height: 53px;
    /* border: 1px solid black; */
    bottom: 192px;
    left: 20%;
}
/*G4*/
#note-box-16{
    position: absolute;
    width: 3%;
    height: 95px;
    /* border: 1px solid black; */
    bottom: 177px;
    left: 20%;
}
/*G#4*/
#note-box-17{
    position: absolute;
    width: 3%;
    height: 95px;
    /* border: 1px solid black; */
    bottom: 177px;
    left: 20%;
}
/*A4*/
#note-box-18{
    position: absolute;
    width: 3%;
    /* height: 122px; */
    /* border: 1px solid black; */
    bottom: 233px;
    left: 20%;
}
/*A#4*/
#note-box-19{
    position: absolute;
    width: 3%;
    /* height: 122px; */
    /* border: 1px solid black; */
    bottom: 233px;
    left: 20%;
}
/*B4*/
#note-box-20{
    position: absolute;
    width: 3%;
    /* height: 137px; */
    /* border: 1px solid black; */
    bottom: 260px;
    left: 20%;

}
/*C5*/
#note-box-21{
    position: absolute;
    width: 3%;
    /* height: 164px; */
    /* border: 1px solid black; */
    bottom: 275px;
    left: 20%;
}
/*C#5*/
#note-box-22{
    position: absolute;
    width: 3%;
    /* height: 164px; */
    /* border: 1px solid black; */
    bottom: 275px;
    left: 20%;
}

/*D5*/
#note-box-23{
    position: absolute;
    width: 3%;
    /* height: 179px; */
    /* border: 1px solid black; */
    bottom: 302px;
    left: 20%;
}
/*D#5*/
#note-box-24{
    position: absolute;
    width: 3%;
    /* height: 179px; */
    /* border: 1px solid black; */
    bottom: 302px;
    left: 20%;
}
/*E5*/
#note-box-25{
    position: absolute;
    width: 3%;
    /* height: 206px; */
    /* border: 1px solid black; */
    bottom: 317px;
    left: 20%;
}
/*F5*/

#note-box-26{
    position: absolute;
    width: 3%;
    /* height: 221px; */
    /* border: 1px solid black; */
    bottom: 344px;
    left: 20%;
}
/*F#5*/

#note-box-27{
    position: absolute;
    width: 3%;
    /* height: 221px; */
    /* border: 1px solid black; */
    bottom: 344px;
    left: 20%;
}

/*G5*/
#note-box-28{
    position: absolute;
    width: 3%;
    /* height: 248px; */
    /* border: 1px solid black; */
    bottom: 359px;
    left: 20%;
}
/*G#5*/
#note-box-29{
    position: absolute;
    width: 3%;
    /* height: 248px; */
    /* border: 1px solid black; */
    bottom: 359px;
    left: 20%;
}
/*A5*/
#note-box-30{
    position: absolute;
    width: 3%;
    /* height: 263px; */
    /* border: 1px solid black; */
    bottom: 386px;
    left: 20%;
}
/*A#5*/
#note-box-31{
    position: absolute;
    width: 3%;
    /* height: 263px; */
    /* border: 1px solid black; */
    bottom: 386px;
    left: 20%;
}
/*B5*/
#note-box-32{
    position: absolute;
    width: 3%;
    /* height: 290px; */
    /* border: 1px solid black; */
    bottom: 401px;
    left: 20%;
}
/*C6*/
#note-box-33{
    position: absolute;
    width: 3%;
    /* height: 305px; */
    /* border: 1px solid black; */
    bottom: 428px;
    left: 20%;
}
/*C#6*/
#note-box-34{
    position: absolute;
    width: 3%;
    /* height: 305px; */
    /* border: 1px solid black; */
    bottom: 428px;
    left: 20%;
}


/**********THE SHARPS********/



/*F3*/
#sharp-3{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 0px; */
    /* border: 1px solid black; */
    bottom: 53px;
    left: 17%;
}

/*G3*/
#sharp-5{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 68px;
    left: 17%;
}
/*A3*/
#sharp-7{
    position: absolute;
    width: 3%;
    /* border: 1px solid black; */
    bottom: 96px;
    left: 17%;
}


/*C4*/
#sharp-10{
    position: absolute;
    width: 3%;
    /* height: 11px; */
    /* border: 1px solid black; */
    bottom: 137px;
    left: 17%;
}

/*D4*/
#sharp-12{
    /* display: none; */
    position: absolute;
    width: 3%;
    /* height: 38px; */
    /* border: 1px solid black; */
    bottom: 167px;
    left: 17%;
}

/*F4*/
#sharp-15{
    position: absolute;
    width: 3%;
    height: 53px;
    /* border: 1px solid black; */
    bottom: 196px;
    left: 17%;
}

/*G4*/
#sharp-17{
    position: absolute;
    width: 3%;
    height: 95px;
    /* border: 1px solid black; */
    bottom: 181px;
    left: 17%;
}

/*A4*/
#sharp-19{
    position: absolute;
    width: 3%;
    /* height: 122px; */
    /* border: 1px solid black; */
    bottom: 237px;
    left: 17%;
}
/*C5*/
#sharp-22{
    position: absolute;
    width: 3%;
    /* height: 164px; */
    /* border: 1px solid black; */
    bottom: 279px;
    left: 17%;
}

/*D5*/
#sharp-24{
    position: absolute;
    width: 3%;
    /* height: 179px; */
    /* border: 1px solid black; */
    bottom: 306px;
    left: 17%;
}

/*F5*/

#sharp-27{
    position: absolute;
    width: 3%;
    /* height: 221px; */
    /* border: 1px solid black; */
    bottom: 348px;
    left: 17%;
}


/*G5*/
#sharp-29{
    position: absolute;
    width: 3%;
    /* height: 248px; */
    /* border: 1px solid black; */
    bottom: 363px;
    left: 17%;
}

/*A5*/
#sharp-31{
    position: absolute;
    width: 3%;
    /* height: 263px; */
    /* border: 1px solid black; */
    bottom: 391px;
    left: 17%;
}

/*C6*/
#sharp-34{
    position: absolute;
    width: 3%;
    /* height: 305px; */
    /* border: 1px solid black; */
    bottom: 432px;
    left: 17%;
}









/******************************************
            ****LEFT MENU****
*******************************************/
.menu-container{
    position: absolute;
    top: 10px;   
    width: 20%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    
}

#beginButtonClick{
    height: 10%;
    width: 83%;
}

#scoreText{
    border: 1px solid black;
    width: 80px;
    /* top: 50px; */
    margin-top: 25px;
}

/* #score{
    border: 1px solid black;
    width: 41px;
} */

#timeRemainingText{
    margin-top: 25px;
    border: 1px solid black;
    width: 140px;
}





/******************************************
            ****FRETBOARD****
*******************************************/
.fretboard-container {
    position: relative;
    bottom: 0;
    left: 16%;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black; 
}

/*********LOW E STRING FRETS************/

#fret-click-1{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 195px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 32px;
    width: 49px;
    border: 1px solid black;
}

#fret-click-2{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

#fret-click-3{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;

}

#fret-click-4{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

#fret-click-5{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-6{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-7{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-8{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-9{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-10{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-11{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-12{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-13{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-14{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-15{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-16{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 196px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

/*

#fret-click-low-E-String-17{
     visibility: hidden; 
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 196px;
    background: transparent;
    /* border: none !important; 
    /* font-size: 0; 
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-low-E-String-18{
    /* visibility: hidden; 
    background-color: transparent;
    position: absolute;
    left: 56px;
    top: 37px;
    background: transparent;
    /* border: none !important; 
    /* font-size: 0; 
    height: 34px;
    width: 76px;
    border: 1px solid black;
}
#fret-click-low-E-String-19{
    /* visibility: hidden; 
    background-color: transparent;
    position: absolute;
    left: 56px;
    top: 37px;
    background: transparent;
    /* border: none !important; 
    /* font-size: 0; 
    height: 34px;
    width: 76px;
    border: 1px solid black;
}
#fret-click-low-E-String-20{
    /* visibility: hidden; 
    background-color: transparent;
    position: absolute;
    left: 56px;
    top: 37px;
    background: transparent;
    /* border: none !important; 
    /* font-size: 0; 
    height: 34px;
    width: 76px;
    border: 1px solid black;
}
*/

/**********A STRING FRETS***********/
#fret-click-A-String-6{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 167px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 30px;
    width: 49px;
    border: 1px solid black;
}
#fret-click-A-String-7{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-8{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-9{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-10{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-11{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-12{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-13{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-14{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-15{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-16{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-17{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-18{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-19{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-20{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-A-String-21{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 165px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

/***********************************
   ********D STRING FRETS********
***********************************/

#fret-click-D-String-11{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 137px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 30px;
    width: 49px;
    border: 1px solid black;
}
#fret-click-D-String-12{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-13{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-14{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-15{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-16{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-17{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-18{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-19{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-20{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-21{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-22{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-23{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-24{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-25{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-D-String-26{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 135px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

/***********************************
   ********G STRING FRETS********
***********************************/

#fret-click-G-String-16{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 107px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 30px;
    width: 49px;
    border: 1px solid black;
}
#fret-click-G-String-17{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-18{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-19{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-20{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-21{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-22{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-23{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-24{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-25{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-26{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-27{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-28{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-29{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-30{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-G-String-31{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 105px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

/***********************************
   ********B STRING FRETS********
***********************************/

#fret-click-B-String-20{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 74px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 30px;
    width: 49px;
    border: 1px solid black;
}
#fret-click-B-String-21{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-22{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-23{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-24{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-25{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-26{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-27{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-28{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-29{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-30{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-31{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-32{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-33{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-34{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-B-String-35{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 71px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}

/***********************************
   ********HIGH E STRING FRETS********
***********************************/

#fret-click-high-E-String-25{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 6px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 30px;
    width: 49px;
    border: 1px solid black;
}
#fret-click-high-E-String-26{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 54px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-27{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 131px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-28{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 207px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-29{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 283px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-30{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 359px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-31{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 435px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-32{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 511px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-33{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 587px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-34{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 663px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-35{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 739px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-36{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 815px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-37{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 891px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-38{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 967px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-high-E-String-39{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1043px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}
#fret-click-40{
    /* visibility: hidden; */
    background-color: transparent;
    position: absolute;
    left: 1119px;
    top: 40px;
    background: transparent;
    /* border: none !important; */
    /* font-size: 0; */
    height: 31px;
    width: 77px;
    border: 1px solid black;
}